/* TODO: color palette */

.auth-card {
  max-width: 500px;
  margin: auto;
}

.auth-tabs {
  display: flex;

  .tab {
    flex: 1;
    height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    color: #87A095;
    border: none;
    border-bottom: 1px solid #87A095;

    &.is-active {
      color: var(--white-000);
      border-color: var(--white-000);
    }
  }
}
