.full-width {
  width: 100%;
}

.paper {
  border-radius: 16px;
  background: var(--background-secondary);
  box-shadow: 0 6px 24px 0 var(--black-800);
  max-width: 500px;
  margin: auto;
}

.paper-padding {
  padding: 40px;
}

@media (max-width: 640px) {
  /* sm */
  .paper-padding {
    padding: 16px;
  }
}
