.full-width {
  width: 100%;
}

.stats-page-main {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 2rem;
}

.stats-page-main > * {
  min-width: 0;
}

@media (max-width: 900px) {
  /* md */
.stats-page-main {
    grid-template-columns: 1fr;
  }
}
